<footer class="footer">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-md-3 text-center text-md-left">
        <div class="navbar-brand">
          <h4 class="text-dark"><strong>DMarket</strong></h4><span class="text-muted"></span>
        </div>
      </div>
      <div class="col-md-6 text-right order-lg-last">
          <div class="social">
              <a class="social-github" href=""><i class="fa fa-github"></i></a>
              <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
              <a class="social-telegram" href=""><i class="fa fa-telegram"></i></a>
            </div>
      </div>
      <div class="col-md-3 text-center text-md-right">
      </div>
    </div>
  </div>
</footer>