<!-- Header -->
<header class="header text-white h-fullscreen" style="background-color: #24292e">
  <canvas class="constellation" data-color="rgba(255,255,255,0.3)"></canvas>
  <div class="container">
    <div class="row align-items-center h-100">

      <div class="col-md-5">
        <p class="lead mt-5 mb-8">
          <strong routerLink="/create-ico">Create token</strong><br />
          Uses solc to compile crowdsale contract for you. Can be deplyoed from the browser via web3js. Currently not recquired as the marketplace works with ETH.
        </p>
        <p class="lead mt-5 mb-8">
          <strong routerLink="/create-ico">Market Listings</strong><br />
          View and create new media listings. Hash of the uploaded media is stored on the blockchain against your ETH address.
        </p>
        <p class="lead mt-5 mb-8">
            <strong routerLink="/create-ico">Ownership Verification</strong><br />
            Uses your ETH address (via MetaMask) and the hash of the media asset to prove that you own it.
          </p>
      </div>
      

      <div class="col-md-6 ml-auto">
        <img src="../assets/img/custom/header-image-blue.png" alt="img">
      </div>

    </div>
  </div>
</header><!-- /.header -->